.container {
    display: flex;
    padding: 0 30px;
}

.mySwiper {
    margin: 20px;
    margin-top: 40px;

}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}