.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 20px 60px 20px 60px;
    font-family: 'Roboto', sans-serif;
}

.logo_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_img {
    width: 40px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: white;
    user-select: none;
}

.nav {
    font-weight: 600;
    gap: 30px;
    display: flex;
    padding: 0px 10px;
    position: relative;
}

.nav_item {
    color: white;
    font-size: 16px;
    padding: 5px 15px;

    &:hover {
        color: white;
    }
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}